<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Teacher Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='teacher.css') }}">

</head>

<body>

<!-- NAVBAR -->
<nav class="top-navbar">

    <div class="logo">
        🎓 S++
    </div>

    <div class="nav-links">

        <a href="#">Contact Admin</a>

        <a href="/logout">Logout</a>

        <a href="#">Profile</a>

    </div>

</nav>

<!-- MAIN -->
<div class="dashboard-container">

    <!-- LEFT -->
    <div class="left-panel">

        <!-- TEACHER CARD -->
        <div class="teacher-card">

            <img src="{{ url_for('static', filename='teacher.png') }}" alt="Teacher">

            <h3>Mr. Sachin Kumar</h3>

            <p>Physics Faculty</p>

            <span class="teacher-classes">
                Class 11 • Class 12
            </span>

        </div>

    </div>

    <!-- RIGHT -->
    <div class="main-panel">

        <!-- WELCOME -->
        <div class="welcome-card">

            <h1>Welcome Back {{user.User_name}}</h1>

            <p style="font-size: 25px;">
                Manage your classes, uploads, tests,
                and student workflow efficiently. <br>

                    For any assistance, feel free to reach out to our support team. We're here to help our precious teachers 24x7
            </p>

        </div>

        <!-- QUICK ACCESS -->
        <div class="quick-access">

            <h2>Media Panel</h2>

            <div class="menu-grid">

                <a href="#" class="menu-box">
                    📤
                    <span>Uploads</span>
                </a>

                <a href="#" class="menu-box">
                    👨‍🎓
                    <span>Student List</span>
                </a>

                <a href="#" class="menu-box">
                    💰
                    <span>Salary</span>
                </a>

                <a href="#" class="menu-box">
                    📝
                    <span>Tests</span>
                </a>

                <a href="#" class="menu-box">
                    📄
                    <span>Request Leave</span>
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>